{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="home--background">
	<img src="{{ asset('images/background/junglebg.jpg') }}" class="home--background__image" </div> {% endblock %}
