{% extends 'base.html.twig' %}

{% block title %}Réservation Gringo Loco
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="container--reservation">
			<h1>Demande de réservation</h1>
			{{form(form)}}
			</div>
		</div>
	{% endblock %}
