{% extends "base.html.twig" %}

{% block title %}
	Ajout d'un article
{% endblock %}
{# {{dump($article)}} #}
{% block body %}
	<div class="container">
		{% for message in app.flashes('warning') %}
			<div class="alert alert__warning">
				{{ message }}
			</div>
		{% endfor %}
		{{form(form)}}
		</div>
	{% endblock %}
