{% extends 'base.html.twig' %}

{% block title %}Gringo Loco - Nous Trouver !
{% endblock %}

{% block body %}
	<div class="container">
		<div class="container--find-us">
			<div class="container--find-us__infos">
				<h1>Gringo Loco
				</h1>
				<h3>La Playa Loca</h3>
				<h4>4ème Palmier à droite</h4>
				<img src="{{asset('images/findus/4eme-palmier.png')}}" alt="">
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118930.09991875417!2d-157.8814738783076!3d21.32817363641481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00183b8cc3464d%3A0x4b28f55ff3a7976c!2sHonolulu%2C%20HI%2C%20USA!5e0!3m2!1sen!2sfr!4v1696521895613!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
{% endblock %}
