@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "Tropika Island Int Interlock";
  src: url("{{ asset('/fonts/TropikaIsland-Int.woff2') }}") format("woff2"), url("{{ asset('/fonts/TropikaIsland-Int.woff') }}") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEE9E1;
}

h1,
h2 {
  color: #6DAFE1;
  font-family: "Tropika Island Int Interlock";
}

h3,
h4 {
  font-family: "Baloo 2";
  color: #005B89;
}

a {
  text-decoration: none;
  color: #3E667D;
  border-bottom: solid 1px #3E667D;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.alert {
  z-index: 15;
  font-size: 1.2rem;
  font-family: "Baloo 2";
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 10px;
}
.alert--success {
  background-color: #bdfdd5;
  color: #005B89;
}
.alert--edit {
  background-color: #729cf7;
  color: #EEE9E1;
  border: solid 1px #6492f6;
}
.alert--delete {
  background-color: #ff6161;
  color: #EEE9E1;
}

form {
  border-radius: 10px;
  border: solid 1px #e8e2d7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1.5rem;
  font-family: "Baloo 2";
  margin-right: 1rem;
}

button {
  text-decoration: none;
  font-family: "Baloo 2";
  color: #EEE9E1;
  background-color: #3E667D;
  border: none;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  font-size: 1.1rem;
}
button:hover {
  cursor: pointer;
}

#gallery_form,
#article_form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

input {
  color: #005B89;
  font-size: 1rem;
  border: solid 1px #e5ddd1;
  border-radius: 5px;
  padding: 0.2rem;
  line-height: 1.3rem;
}

textarea {
  color: #005B89;
  font-size: 1rem;
  border: solid 1px #e5ddd1;
  border-radius: 5px;
  padding: 0.2rem;
  line-height: 1.3rem;
  height: 6rem;
  width: 100%;
}

select {
  border: none;
  width: 100%;
}

input::placeholder {
  font-style: italic;
}

input[type=password] {
  color: #3E667D;
}
@media screen and (max-width: 600px) {
  input[type=password] {
    font-size: 3rem;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: #131313;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.loader img {
  animation: shake 0.5s ease-in-out infinite;
  width: 5%;
}
.loader .progress-container {
  width: 100%;
  background-color: #f1f1f1;
}
.loader .progress-bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
}

.display--none {
  display: none;
}

.button--edit {
  background-color: #729cf7;
  color: #EEE9E1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: "Baloo 2";
}

.button--delete {
  background-color: #ff6161;
  color: #EEE9E1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: "Baloo 2";
}

.button--add {
  font-family: "Tropika Island Int Interlock";
  color: #6DAFE1;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 5rem;
  border: none;
}

.container--register {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container--register form {
  display: flex;
  align-items: start;
}

nav {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  nav {
    transform: translateX(-100%);
    transition: 0.2s;
  }
}
nav .nav--links {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 767px) {
  nav .nav--links {
    flex-direction: column;
    height: 100vh;
    font-size: 2rem;
  }
}
nav .nav--links a {
  text-decoration: none;
  font-family: "Tropika Island Int Interlock";
  color: #6DAFE1;
  font-size: 1.2rem;
  border: none;
}
@media screen and (max-width: 767px) {
  nav .nav--links a {
    font-size: 1.5rem;
  }
}
nav img {
  width: 140px;
  height: 140px;
}
@media screen and (max-width: 767px) {
  nav img {
    display: none;
  }
}

nav.active {
  transform: translateX(0%);
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  .nav--open {
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 5%;
    left: 7%;
    z-index: 50;
    transform: translate(-50%, -50%);
  }
  .nav--open .line {
    position: absolute;
    display: block;
    width: 80%;
    height: 0.3rem;
    background-color: #6DAFE1;
    border-radius: 10px;
  }
  .nav--open .l1 {
    top: 0%;
  }
  .nav--open .l2 {
    top: 25%;
  }
  .nav--open .l3 {
    top: 50%;
  }
}
.nav--open.active .l1 {
  top: 0%;
  width: 30%;
  border-radius: 10px 10px 0 0;
  animation: navl1 0.3s forwards;
}
@keyframes navl1 {
  0% {
    transform: translateY(0px);
    width: 80%;
    border-radius: 0px 0px 0px 0px;
  }
  100% {
    transform: translateY(2px);
    width: 30%;
    border-radius: 10px 10px 0 0;
  }
}
.nav--open.active .l2 {
  width: 35%;
  border-radius: 0px 0px 0 0;
  animation: navl2 0.3s forwards;
}
@keyframes navl2 {
  0% {
    width: 80%;
  }
  100% {
    width: 35%;
  }
}
.nav--open.active .l3 {
  animation: navl3 0.5s forwards;
}
@keyframes navl3 {
  0% {
    border-radius: 0px 0px 0px 0px;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
    border-radius: 0px 0px 10px 10px;
  }
}

.nav--link__profil {
  z-index: 2;
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.1rem;
  border: solid 2px #6DAFE1;
}
.nav--link__profil img {
  width: 100%;
  object-fit: contain;
}

.home--background {
  position: relative;
  top: 0%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.home--background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(200px - 100vh);
  margin-top: 200px;
  margin-bottom: 50px;
}

.container--article {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container--article {
    width: 70%;
  }
}
.container--article .back--arrow {
  position: fixed;
  left: 20%;
  font-size: 2rem;
  text-decoration: none;
  color: #6DAFE1;
  border: none;
  font-family: "Tropika Island Int Interlock";
}
.container--article__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.container--article__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
}
.container--article p {
  text-align: justify;
  color: #005B89;
  font-family: "Baloo 2";
}
.container--article__infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.container--article__author {
  color: #005B89;
  font-style: italic;
  opacity: 0.5;
  font-family: "Tropika Island Int Interlock";
}
.container--article .article--commentaire__form {
  border-radius: 10px;
  border: solid 1px #e5ddd1;
  padding: 0.5rem 1rem;
}
.container--article .article--comment__list {
  border-bottom: solid 1px #e5ddd1;
}
.container--article .article--comment__list p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Baloo 2";
  color: #005B89;
}
.container--article .article--comment__list p a {
  margin-left: 1rem;
  height: 2rem;
}
.container--article .article--comment__list span {
  font-family: "Tropika Island Int Interlock";
  font-style: italic;
  color: #3E667D;
  margin-left: 1rem;
  font-size: 0.8rem;
}
.container--article img {
  aspect-ratio: 1.5;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}

#comment_form div:nth-child(1) {
  color: #005B89;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card--container {
  display: flex;
  justify-content: center;
  align-items: start;
  user-select: none;
  padding: 1rem;
  width: 50%;
  height: 100%;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .card--container {
    display: block;
    width: 80%;
  }
}
.card--container a {
  border-bottom: none;
  color: #EEE9E1;
  border-bottom: solid 2px #EEE9E1;
  margin-bottom: 10px;
}
.card--container a span {
  opacity: 0;
  transition: 0.3s;
  margin-left: 0.2rem;
}
.card--container a:hover span {
  opacity: 1;
}
.card--container .card {
  padding: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.card--container .card--left {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  background-color: #EEE9E1;
  color: #005B89;
  padding: 1.5rem;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .card--container .card--left {
    width: auto;
  }
}
.card--container .card--left h1 {
  line-height: 6rem;
  color: #6DAFE1;
  font-size: 6rem;
}
.card--container .card--left .card--item {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-family: "Tropika Island Int Interlock";
  font-size: 1.8rem;
  padding: 1rem;
  position: relative;
  color: #6DAFE1;
}
.card--container .card--left .card--item a {
  color: #6DAFE1;
}
.card--container .card--left .card--item p {
  color: #3E667D;
}
.card--container .card--left .card--item:nth-child(1) {
  color: #6DAFE1;
}
.card--container .card--left .card--item__title h2 {
  color: #005B89;
}
.card--container .card--left .card--item__price {
  color: #3E667D;
}
@media screen and (max-width: 600px) {
  .card--container .card--left .card--item {
    font-size: 3rem;
  }
}
.card--container .card--left .card--item:nth-child(odd):not(.card__item--title) {
  grid-column-end: 5;
  text-align: left;
  color: #6DAFE1;
}
.card--container .card--left .card--item:nth-child(even):not(.card__item--title) {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
}
.card--container .card--left .card--item__title {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 2rem;
  color: #3E667D;
  line-height: 3.1rem;
}
.card--container .card--left .card--item__title:nth-child(1) {
  border-bottom: 2px dashed #3E667D;
}
.card--container .card--left p {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #005B89;
  line-height: 0.9rem;
}
@media screen and (max-width: 600px) {
  .card--container .card--left p {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
.card--container .card--left p img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2px;
}
.card--container .card--right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  background-color: #0075AF;
  padding: 1.5rem;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .card--container .card--right {
    width: auto;
  }
}
.card--container .card--right .card--item {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-family: "Tropika Island Int Interlock";
  color: #EEE9E1;
  font-size: 2rem;
  padding: 1rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  .card--container .card--right .card--item {
    font-size: 3rem;
  }
}
.card--container .card--right .card--item:nth-child(even) {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
}
.card--container .card--right .card--item:nth-child(odd):not(.card--item__title) {
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: right;
}
.card--container .card--right .card--item__title {
  grid-column-start: 1;
  grid-column-end: 5;
}
.card--container .card--right .card--item__title h2 {
  color: #EEE9E1;
}
.card--container .card--right p {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #EEE9E1;
  line-height: 0.9rem;
}
.card--container .card--right p img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2px;
}

.hover--reveal {
  position: absolute;
  width: 300px;
  height: 400px;
  pointer-events: none;
  transform: translate(0px, 0px);
  overflow: hidden;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
}
.hover--reveal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: text-transform 0.5s ease-out;
}

.pagination {
  box-shadow: 3px 2px 20px 8px rgba(0, 0, 0, 0.11);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  line-height: 1.2rem;
  align-content: center;
  justify-content: center;
  font-family: "Tropika Island Int Interlock";
}
@media screen and (max-width: 767px) {
  .pagination {
    width: 40%;
    margin: auto;
  }
}
.pagination .page {
  width: 1.5rem;
  height: 1.2rem;
  display: flex;
  text-decoration: none;
}
.pagination .current {
  width: 1.5rem;
  height: 1.2rem;
  text-align: center;
  display: flex;
  text-decoration: none;
  color: #6DAFE1;
}
.pagination .first {
  width: 1.5rem;
  height: 1.2rem;
  text-align: center;
  display: flex;
  text-decoration: none;
  line-height: 1rem;
}
.pagination .last {
  width: 1.5rem;
  height: 1.2rem;
  text-align: center;
  display: flex;
  text-decoration: none;
  line-height: 1rem;
}
.pagination .next {
  width: 1.5rem;
  height: 1.2rem;
  text-align: center;
  display: flex;
  text-decoration: none;
  line-height: 1rem;
}
.pagination .previous {
  width: 1.5rem;
  height: 1.2rem;
  text-align: center;
  display: flex;
  text-decoration: none;
  margin-right: 0.5rem;
  line-height: 1rem;
}
.pagination a {
  width: 100%;
  text-decoration: none;
  border: none;
}

.container--gallery {
  width: 80%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(120px, 1fr));
}
@media screen and (max-width: 767px) {
  .container--gallery {
    display: block;
  }
}
.container--gallery__author {
  opacity: 0.5;
  font-family: "Tropika Island Int Interlock";
  color: #005B89;
  font-style: italic;
}
.container--gallery__images {
  aspect-ratio: 1;
  position: relative;
}
.container--gallery__images .picture--name {
  position: absolute;
  top: 0%;
  left: 2%;
  color: #EEE9E1;
  font-family: "Tropika Island Int Interlock";
}
.container--gallery__images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.container--gallery__images .button--delete__gallery {
  opacity: 0;
  position: absolute;
  bottom: 2rem;
  right: 0rem;
  width: 12%;
  padding: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 2;
}
.container--gallery__images .button--delete__gallery img {
  width: 100%;
  height: 100%;
}
.container--gallery__images:nth-child(5) {
  grid-column: 1/3;
  grid-row: 2/4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  aspect-ratio: auto;
}
.container--gallery__images:nth-child(15) {
  grid-column: 3/5;
  grid-row: 5/7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  aspect-ratio: auto;
}
.container--gallery__images:hover .button--delete__gallery {
  opacity: 1;
  transition: 0.4s;
}

.container--find-us {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container--find-us {
    flex-direction: column;
  }
  .container--find-us img {
    width: 60%;
  }
  .container--find-us iframe {
    width: 95%;
    margin: auto;
  }
}
.container--find-us__infos {
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
}

.container--infos {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container--infos__user {
  height: 50%;
  margin-bottom: 5rem;
  box-shadow: 0px 15px 10px -15px #111;
  padding-bottom: 2rem;
}
.container--infos__user a {
  border: none;
}
.container--infos__user span {
  margin-left: 2rem;
}
.container--infos__user table {
  margin-left: 2rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.container--infos__user th {
  font-size: 2rem;
  color: #6DAFE1;
  font-family: "Tropika Island Int Interlock";
}
.container--infos__user tbody {
  color: #3E667D;
  font-family: "Baloo 2";
}
.container--infos__user tbody tr {
  border-top: solid 1px #e5ddd1;
  border-bottom: solid 1px #e5ddd1;
}
.container--infos__user tbody tr :nth-child(1) {
  font-size: 1.3rem;
  color: #005B89;
}
.container--infos__user tbody tr :nth-child(2) {
  font-size: 1.2rem;
}
.container--infos__user tbody td {
  padding: 0.2rem;
}
.container--infos .container--user__logout {
  background-color: #EEE9E1;
  border: none;
  border: solid 1px #ff6161;
  color: #ff6161;
}
.container--infos .container--links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  color: #6DAFE1;
  font-family: "Tropika Island Int Interlock";
  font-size: 2rem;
  margin-bottom: 2rem;
}
.container--infos .container--links span {
  cursor: pointer;
  user-select: none;
}
.container--infos .container--links span.active {
  border-bottom: dashed 3px #3E667D;
}
.container--infos__content {
  overflow: hidden;
}
.container--infos__content .container--slider {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.4s;
}
.container--infos__content .container--slider__gallery {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  transform: translateX(-100%);
}
.container--infos__content .container--slider__gallery .container--slider__content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.container--infos__content .container--slider__gallery .card {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px #e5ddd1;
  position: relative;
}
.container--infos__content .container--slider__gallery .card .card--gallery__image {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
}
.container--infos__content .container--slider__gallery img {
  width: 100%;
  border-radius: 10px;
}
.container--infos__content .container--slider__gallery span {
  font-style: italic;
  font-family: "Baloo 2";
}
.container--infos__content .container--slider__articles {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  transform: translateX(0%);
}
.container--infos__content .container--slider__articles .container--slider__content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.container--infos__content .container--slider__articles .card {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: solid 1px #e5ddd1;
}
.container--infos__content .container--slider__articles p {
  font-family: "Baloo 2";
  color: #005B89;
}
.container--infos__content .container--slider__articles span:first-of-type {
  font-style: italic;
  font-family: "Baloo 2";
}
.container--infos__content .container--slider__articles img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}
.container--infos__content .container--slider__articles:nth-child(3) {
  font-style: italic;
}
.container--infos__content .container--slider__comment {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  transform: translateX(100%);
}
.container--infos__content .container--slider__content {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.container--infos__content .container--slider__content p {
  font-family: "Baloo 2";
  color: #005B89;
}
.container--infos__content .container--slider__content h3 {
  font-family: "Baloo 2";
  color: #3E667D;
}
.container--infos__content .container--slider__content span {
  font-style: italic;
  font-family: "Baloo 2";
}
.container--infos__content .container--slider__content img {
  width: 80%;
}
.container--infos__content .container--slider__content .container--comment__article {
  border-left: solid 3px #e1d8ca;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.container--reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container--reservation p {
  font-family: "Baloo 2";
  color: #005B89;
}
.container--reservation #reservation_form div:nth-child(3) {
  display: flex;
  flex-direction: column;
}
.container--reservation #reservation_form div:nth-child(3) textarea {
  height: 7rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
}
.container--reservation #reservation_form_bookedAt {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}
.container--reservation #reservation_form_bookedAt_date {
  display: flex;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
}
.container--reservation #reservation_form_bookedAt_date select {
  width: 5rem;
}
.container--reservation #reservation_form_bookedAt_time {
  display: flex;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
}

@keyframes shake {
  0% {
    transform: translateY(-2rem) rotate(5deg);
  }
  5% {
    transform: translateY(-1.8rem) rotate(5deg);
  }
  50% {
    transform: translateY(2rem) rotate(0deg);
  }
  95% {
    transform: translateY(-1.8rem) rotate(5deg);
  }
  100% {
    transform: translateY(-2rem) rotate(5deg);
  }
}
@media screen and (min-width: 767px) {
  nav.fade--in {
    animation: fade-in 0.5s cubic-bezier(0.26, 0.66, 0.37, 0.96) forwards;
  }
  nav.fade--out {
    animation: fade-out 0.5s cubic-bezier(0.26, 0.66, 0.37, 0.96) forwards;
  }
  @keyframes fade-out {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-300px);
    }
  }
  @keyframes fade-in {
    0% {
      transform: translateY(-300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

/*# sourceMappingURL=style.css.map */
